footer {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  
    a {
      color: var(--secondary-color);
    }
  }