<mat-toolbar  color="primary">
    <div class="toolbar-content">
        <img routerLink="/" src="icon.jpg" alt="Логотип" class="logo">

    </div>
  
    <span class="spacer"></span>
    <a mat-button routerLink="/products">Продукты</a>
    @if (!isAuthenticated()) {
      <a mat-button routerLink="/login">Вход</a>
      <a mat-button routerLink="/register">Регистрация</a>
    }
    @else if (isAuthenticated()) {
      <a mat-button routerLink="/" (click)="logout()">Выход</a>
    }
  </mat-toolbar>
  